/* Style the axes and labels for visualizations.
   Curran Kelleher March 2015 */

/* Tick mark labels */
.axis .tick text {
  font: 12pt sans-serif;
}

/* Axis labels */
.axis text {
  font: 20pt sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.title-text {
  text-anchor: middle;
  font: 30pt sans-serif;
}
